__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/


.env

venv/
.venv/
.venv311/
env/
ENV/
.python-version


airflow/logs/
airflow/*.pid
airflow/*.log
airflow/__pycache__/
airflow/dags/__pycache__/
airflow/plugins/__pycache__/

docker-compose.override.yml
*.log
flask_app/logs/

*.sqlite
*.db
*.duckdb

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db
desktop.ini

.coverage
htmlcov/
.pytest_cache/
.tox/

.ipynb_checkpoints/

tmp/
temp/
logs/
fake_data/
